@model H42Skjatextar.Models.VideoTitle

@{
    ViewBag.Title = "Home Page";
}
<div class="form-group" align="center">
    @Html.ActionLink("Files", "Index", "Home");
    @Html.ActionLink("Request", "Index", "Home");
    <div class="col-md-offset-2 col-md-10">
         @Html.TextBoxFor(model => model.title)
         <input type="submit" value="Search" class="btn btn-default" />
    </div>
</div>
