@model H42Skjatextar.Models.VideoTitle
 
@{
    ViewBag.Title = "Home Page";
}
<div class="form-group" align="center">
    <a href="@Url.Action("Index", "VideoTitles" )" class="frontpagebutton">Video titles</a>
    <a href="@Url.Action("Index", "SubTitleFiles" )" class="frontpagebutton">Subtitle files</a>
    <a href="@Url.Action("Index", "TitleRequest" )" class="frontpagebutton">Requests</a>
</div>